body {
background-color:#c3c3c3;
}

#main {
width:800px;
height:421px;
margin:29px auto;
outline: 0px solid #faa21a;
background-image:url(../images/bg.jpg)
}

#main h1 {
text-align:center;
outline: 0px solid #cc0000;
padding-top:182px;
font:36px verdana;
}