body {
	background-color: #d2d2d2;
	font: 11px verdana;
	color: #696969;
}

#wrapper {
	width: 650px;
	margin: 30px auto;
	background-color: #f4f4f4;

}

#header {
	height: 75px;
	background-image: url(../images/redHeader.png);
	background-repeat: no-repeat;
}

#content {
padding: 20px 30px;
}

